.section{
    text-align: justify;
}

.sub_section{
    text-indent: 5%;
    text-align: justify;
}

h2, h3{
    text-align: left;
    letter-spacing: 2px;
    text-decoration: underline;
    text-transform: uppercase;
}